/* .horizontal-scroll-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}

.scroll-box {
  transform: rotate(90deg);
  transform-origin: right top;
} */